.App {
}
h3, h4, h5, h6{
  font-weight: 700;
}
.App-header {
  width: 400px;
  max-width: 90%;
  margin: 50px auto 0;
}
.App-intro {
  font-size: large;
}
.user-search{
  width: 500px;
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: visible;
}
.user-search__input{
  height: 30px;
  width: 400px;
  font-size: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}
.user-search__search{
  min-height: 30px;
  display: block;
  max-width: 100px;
  width: 90px;
  position: relative;
  z-index: 100;
}
.user-search__selected-book{
  width: 100%;
  margin-top: 20px;
}
.user-search__add-result{
  font-size: 20px;
  padding: 0 20px;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 28px;
  border: none;
  width: 393px;
  pointer-events: none;
  background-color: #aaaaaa;
}
.user-search__add-result:empty{
  display: none
}
.card-wrapper:empty:after{
  display: none;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  content:'No Books Selected';
  display: block;
  width: 100%;
}
.auto-complete{
  width: 100%;
  position: absolute;
  z-index: 10;
  width: 495px;
  top: 34px;
  background: white;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 10px 10px 5px #aaaaaa;
}
.auto-complete:empty{
  display: none;
}
.auto-complete__link{
  width: 100%;
  height: 50px;
  font-size: 20px;
  background: white;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
}
.auto-complete__link:hover{
  background-color: #aaaaaa;
}


.card-wrapper{
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card{
  margin-bottom: 30px;
  width: 30%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 30px;
  box-sizing: border-box;
}
.card .title{
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.card .summary{
  font-size: 1rem;
  font-weight: 400;
}
.card .author{
  font-size: 1.25rem;
  border-top: 1px solid grey;
  margin-top: 30px;
  padding-top: 30px;
}

@media (max-width: 1000px){
  .card{
    width: 47%;
  }
}

@media (max-width: 600px){
  .card{
    width: 100%;
  }
}